.add-friends{
  font-family: Arial;
  display: inline-block;
  width: 190px;
  height: 320px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}

.profile{
  width: 190px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.profile-name{
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 5px;
}

.friend{
  font-size: 15px;
  color: rgb(163, 153, 153);
  margin-left: 0px;
}

button{
  background-color: rgb(58, 136, 225);
  color: white;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}


.friend-profile {
  width: 30px;
  display: inline-block;
}

.profile-picture {
  width: 26px;
  height: 26px;
  object-fit: cover;
  display: inline-block;
  margin-left: 10px;
  border-radius: 100px;
  vertical-align: middle;
}

.friend {
  display: inline-block;
  width: 120px;
  margin-left: 8px;
  vertical-align: middle;
  font-size: 14px;
}

.friend-info {
  margin-bottom: 10px;
}