
.header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(134, 12, 222);
  padding: 12px 9px 12px 9px;
  align-items: center;
}

button {
  border: none;
  color: white;
  background-color: rgb(134, 12, 222);
  font-weight: bold;
  font-family: Arial;
}

.download-button {
  padding: 6px 13px 6px 13px;
  border: 1px solid white;
  margin-right: 0;
  float: right;
}

.home-button, .download-button {
  font-weight: bold;
  font-family: Arial;
  font-size: 18px;
  cursor: pointer;
}

.left-section, .right-section {
  width: 250px;
}


.middle-section {
  flex: 1;
  max-width: 600px;
}

.searchbar {
  width: 100%;
  padding: 7px 13px 7px 13px;
  border-radius: 20px;  
  font-size: 15px;
  border: none;
}

