p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  color: rgb(138, 133, 133);
  font-family: Arial;
}

.email{
  margin-top: 5px;
  width: 250px;
}

.policy{
  margin-top: 10px;
}

button{
  margin-top: 10px;
  background-color: rgb(62, 136, 205);
  color: white;
  border:none;
  cursor: pointer;
  padding: 10px 70px 10px 70px;
  border-radius: 30px;
  font-size: 16px;
}