p{
  width: 300px;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  vertical-align: middle;
}

button{
  font-family: Arial;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
}