input{
  font-family: Arial;
  font-size: 15px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  padding: 10px 0px 10px 10px;
}

.first-name{
  width: 100px;
  margin-right: 5px;
}

.last-name{
  width: 100px;
}

.email{
  width: 219px;
  margin-top: 10px;
  display: block;
}

button{
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  padding: 12px 86px 12px 86px;
  border-radius: 5px;
  border:none;
  background-color: rgb(29, 155, 240);
  color: white;
  cursor: pointer;
}