.searchbox{
  width: 600px;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  font-size: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border: none;
}

img{
  width: 300px;
}

.google{
  text-align: center;
}

.body-page{
  text-align: center;
}

.button-feeling{
  text-align: center;
  font-family: Arial;
  font-size: 15px;
}

button{
  border: none;
  background-color: rgb(215, 207, 207);
  padding: 10px 15px 10px 15px ;
  margin-top: 30px;
  margin-right: 5px;
  cursor: pointer;
}