.header {
  height: 57px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(218, 218, 218);
  z-index: 300;
}

.left-section {
  align-items: center;
  display: flex;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;

}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 100px;
  margin-right: 80px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 12px;
  border: 1px solid  rgb(169, 169, 169);
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0;
  min-width: 0;
  border-radius: 2px;
  overflow: hidden;
}

.search-bar::placeholder{
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 64px;
  background-color: rgb(247, 247, 247);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  margin-left: -2px;
  margin-right: 10px;
}

.search-button,
.voice-search-button,
.upload-icon-button,
.youtube-apps-icon-button,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-button .tooltip,
.youtube-apps-icon-button .tooltip, 
.notifications-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -35px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-button:hover .tooltip,
.youtube-apps-icon-button:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 24px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(246, 246, 246);
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: 3px;
  right: -5px;
  background-color: rgb(194, 20, 20);
  color: white;
  font-size: 11px;
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}

.upload-icon-button,
.youtube-apps-icon-button,
.notifications-icon-container {
  height: 40px;
}